.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 50;
    bottom: 5;
    background-color: white;
    z-index: 100;
    width: 100%;
    margin-top: 20px;
}
.header_icon{
    object-fit: contain;
    height: 50px;
    margin-left: 20px;
    
}

.header_center{
    display:flex;
    flex: 1;
    align-items: center;
    max-width:fit-content ;
    padding:10px;
    height: 15px;
    border: 2px solid lightgray;
    border-radius: 999px;
}

.header_center > input{
    border: none;
    padding: 10px;
    outline-width: 0;
    /* width: 400px; */
}
.header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right:50px ;
}